:root {
  --lightBackgroundColor: white;
  --lightTextColor: #242424;
  --lightLinkColor: #a332ff;
  --lightLinkHoverColor: #7101cd;
  --lightBoldColor: #393939;
  --lightCodeBackgroundColor: #959595;
  --lightFooterColor: #8b8b8b;
  --lightFooterLinkColor: #5a5a5a;
  --lightH1Color: #1560bd;
  --lightH2Color: #1877f2;
  --lightH3Color: #787878;
  --lightHrColor: rgba(0, 0, 0, 0.1);
  --lightPageBannerBorder: 0.25px solid var(--lightBackgroundColor);
  --lightCardBackgroundColor: white;
  --lightCardDividingLineColor: #9b9b9b;
  --lightCardTextColor: black;
  --lightCardShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  --lightCardHoverShadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
  --lightCompanyCardBackgroundColor: rgb(238, 238, 238);
  --lightCompanyTitleColor: black;
  --lightCompanySubtitleColor: #383838;
  --lightCompanyAchievementsColor: rgb(29, 29, 29);
  --lightHrOnCompanyCardColor: rgb(211, 211, 211);
  --lightProjectCardBackgroundColor: #efefef;
  --lightButtonFilter: drop-shadow(2px 2px 2px #808080);
  --lightSubtitleColor: #808080;
  --lightGreenTextColor: rgb(5, 164, 21);
  --lightRedTextColor: rgb(243, 64, 64);
  --lightOrangeTextColor: rgb(227, 126, 2);
  --lightGrayTextColor: rgb(91, 91, 91);
  --lightLinkedInCardColor: #5288bf;
  --lightGitHubCardColor: #6e6e6ed2;
  --lightSoftwarePageCardColor: #4b92ee;
  --lightSoftwarePageCardDescriptionColor: rgb(219, 219, 219);
  --lightPublicationColorGreen: #83ad83;
  --lightPublicationColorPurple: #8181c3;
  --lightPublicationColorRed: #c2796f;
  --lightPublicationColorYellow: #d8a763;
  --lightPublicationColorBlue: #598ec2;
  --lightPublicationColorPrimaryGray: #9c9c9c;
  --lightPublicationColorSecondaryGray: #acacac;
  --lightPublicationTitleColor: rgb(255, 255, 255);
  --lightPublicationDateColor: rgb(241, 241, 241);
  --lightGrayLinkColor: #474747;
  --lightCardGrayLinkColor: rgb(127, 127, 127);

  --darkBackgroundColor: black;
  --darkTextColor: rgb(230, 230, 230);
  --darkLinkColor: #d5a2ff;
  --darkLinkHoverColor: #e8cbff;
  --darkBoldColor: #dcdcdc;
  --darkCodeBackgroundColor: #585858;
  --darkFooterColor: #4d4d4d;
  --darkFooterLinkColor: rgb(220, 220, 220);
  --darkH1Color: #2e8cff;
  --darkH2Color: #75b3ff;
  --darkH3Color: #a0a0a0;
  --darkHrColor: rgba(255, 255, 255, 0.15);
  --darkPageBannerBorder: 0.25px solid #313131;
  --darkCardBackgroundColor: #242424;
  --darkCardDividingLineColor: #242424;
  --darkCardTextColor: white;
  --darkCardShadow: 0 0 8px 0 #313131;
  --darkCardHoverShadow: 0 0px 24px 0 rgb(136, 136, 136);
  --darkCompanyCardBackgroundColor: #242424;
  --darkCompanyTitleColor: white;
  --darkCompanySubtitleColor: #d8d8d8;
  --darkCompanyAchievementsColor: rgb(230, 230, 230);
  --darkHrOnCompanyCardColor: #414141;
  --darkProjectCardBackgroundColor: #242424;
  --darkButtonFilter: drop-shadow(2px 2px 2px rgba(121, 121, 121, 0.4));
  --darkSubtitleColor: #b9b9b9;
  --darkGreenTextColor: rgb(6, 175, 23);
  --darkRedTextColor: rgb(240, 77, 77);
  --darkOrangeTextColor: rgb(243, 150, 0);
  --darkGrayTextColor: rgb(183, 183, 183);
  --darkLinkedInCardColor: #004a71;
  --darkGitHubCardColor: #2b2b2b;
  --darkSoftwarePageCardColor: #1b61bc;
  --darkSoftwarePageCardDescriptionColor: rgb(191, 191, 191);
  --darkPublicationColorGreen: #466446;
  --darkPublicationColorPurple: #484880;
  --darkPublicationColorRed: #76332a;
  --darkPublicationColorYellow: #92672c;
  --darkPublicationColorBlue: #235485;
  --darkPublicationColorPrimaryGray: #3d3d3d;
  --darkPublicationColorSecondaryGray: #2b2b2b;
  --darkPublicationTitleColor: rgb(231, 231, 231);
  --darkPublicationDateColor: rgb(215, 215, 215);
  --darkGrayLinkColor: rgb(210, 210, 210);
  --darkCardGrayLinkColor: rgb(159, 159, 159);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: var(--lightTextColor);
  background-color: var(--lightBackgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: var(--lightLinkColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--lightLinkHoverColor);
  text-decoration: underline;
}
b {
  color: var(--lightBoldColor);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  place-items: center;
  min-width: 333px;
  min-height: 100vh;
}
code {
  background-color: var(--lightCodeBackgroundColor);
  color: white;
  font-weight: 800;
  padding: 3px;
}
footer {
  font-size: 80%;
  text-align: center;
  color: var(--lightFooterColor);
}
hr {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: var(--lightHrColor);
  height: 1px;
  border: 0;
}
h1 {
  text-align: center;
  font-size: 2.2em;
  line-height: 1.1;
  margin-top: 13px;
  margin-bottom: 5px;
  color: var(--lightH1Color);
}
h2 {
  font-size: 1.6em;
  margin-top: 40px;
  margin-bottom: 10px;
  color: var(--lightH2Color);
}
h3 {
  font-size: 1.3em;
  color: var(--lightH3Color);
  margin-bottom: 25px;
}
iframe {
  max-width: 100% !important;
  min-height: 320px !important;
}
input[type="checkbox"] {
  margin-left: 20px;
}
p {
  color: var(--lightTextColor);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.home-header {
  margin-bottom: -5px;
  text-align: center;
}
.invisible-link {
  text-decoration: none;
}
.invisible-link.skills {
  color: var(--lightTextColor);
}
.invisible-link:hover {
  text-decoration: none;
}
.subtitle {
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: var(--lightSubtitleColor);
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 1.2em;
  text-align: center;
}

/* General image styling */
.page-banner {
  border: var(--lightPageBannerBorder);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 530px;
  height: auto;
}
.bordered-image {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 5px;
  max-width: 100%;
  height: auto;
}

/* Footer styling */
.footer-nav {
  text-align: center;
}
.footer-link {
  color: var(--lightFooterLinkColor);
}

/* Icon styling */
.icon {
  max-height: 20px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -4px;
}
.black-icon {
  max-height: 20px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -4px;
}
.icon-row {
  padding-bottom: 5px;
}

/* Text syling */
.green-text {
  color: var(--lightGreenTextColor);
  font-weight: 700;
}
.blue-text {
  color: rgb(0, 123, 255);
  font-weight: 700;
}
.red-text {
  color: var(--lightRedTextColor);
  font-weight: 700;
}
.red-text.thin {
  font-weight: 500;
}
.orange-text {
  color: var(--lightOrangeTextColor);
  font-weight: 700;
}
.gray-text {
  color: var(--lightGrayTextColor);
  font-weight: 700;
}
.h3-thin {
  font-weight: 300;
}

/* Software card styling */
/* Float three columns side by side */
.column {
  float: left;
  height: 318px;
  width: 33%;
  padding: 20px;
}
/* Remove extra left and right margins due to padding */
.row {
  margin: 0px -10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.card-link {
  text-decoration: none;
  color: var(--lightTextColor);
}
.card-link:hover {
  text-decoration: none;
  color: var(--lightTextColor);
}
.card-icon {
  max-height: 15px;
  width: auto;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}
.card-icon-row {
  position: absolute;
  bottom: 5px;
  right: 12px;
}
.card-title {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-description {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-top: 0px;
}
.card {
  box-shadow: var(--lightCardShadow);
  transition: 0.3s;
  border-radius: 20px;
  background-color: var(--lightCardBackgroundColor);
}
.card:hover {
  box-shadow: var(--lightCardHoverShadow);
}
.card-image {
  width: 100%;
  height: 50%;
  border-radius: 20px 20px 0px 0px;
  border-bottom: solid 0.25px var(--lightCardDividingLineColor);
}
.card-container {
  position: relative;
  height: 150px;
  padding: 0px 16px;
}

.icon {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 20px;
  width: auto;
}

/* Resume company styling */
.company-card {
  background-color: var(--lightCompanyCardBackgroundColor);
  border-radius: 20px;
  margin-top: 0px;
  margin-bottom: 25px;
  padding: 10px;
}
.company-card.project {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--lightProjectCardBackgroundColor);
}
.company-container {
  display: flex;
  height: 55px;
  margin-bottom: 35px;
  padding: 10px;
}
.company-image-container {
  width: 90px;
  text-align: center;
}
.company-image {
  padding-right: 18px;
  height: 70px;
  width: auto;
}
.company-name {
  font-size: large;
  font-weight: 800;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--lightCompanyTitleColor);
}
.company-job-title {
  font-size: 0.9em;
  font-weight: 300;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--lightCompanySubtitleColor);
}
.company-dates {
  font-size: 0.7em;
  font-weight: 300;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--lightCompanySubtitleColor);
}
.company-skills-text {
  padding-left: 10px;
  padding-right: 10px;
  font-size: small;
}
.hr-on-company-card {
  margin-top: -5px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: var(--lightHrOnCompanyCardColor);
}
.company-achievements {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 15px;
  color: var(--lightCompanyAchievementsColor);
}

/* Publication styling */
.publication-column-left {
  float: left;
  width: 50%;
  padding-right: 10px;
}
.publication-column-right {
  float: left;
  width: 50%;
  padding-left: 10px;
}
/* Remove extra left and right margins due to padding */
.publication-row {
  margin: 0px 0px;
}
/* Clear floats after the columns */
.publication-row:after {
  content: "";
  display: table;
  clear: both;
}
.publication-container a {
  text-decoration: none;
  color: var(--lightTextColor);
}
.publication-container a:hover {
  text-decoration: none;
}
.publication-card {
  background-color: var(--lightCompanyCardBackgroundColor);
  border-radius: 20px;
  padding: 20px;
  padding-left: 22px;
  margin-bottom: 20px;
}
.publication-card.short {
  height: 105px;
}
.publication-card.green {
  background-color: var(--lightPublicationColorGreen);
}
.publication-card.purple {
  background-color: var(--lightPublicationColorPurple);
}
.publication-card.red {
  background-color: var(--lightPublicationColorRed);
}
.publication-card.yellow {
  background-color: var(--lightPublicationColorYellow);
}
.publication-card.blue {
  background-color: var(--lightPublicationColorBlue);
}
.publication-card.primaryGray {
  background-color: var(--lightPublicationColorPrimaryGray);
}
.publication-card.secondaryGray {
  background-color: var(--lightPublicationColorSecondaryGray);
}
.publication-title {
  margin: 0;
  font-weight: 800;
  font-size: medium;
  color: var(--lightPublicationTitleColor);
}
.publication-journal {
  margin: 0;
  font-style: italic;
  font-size: medium;
  color: var(--lightPublicationDateColor);
}
.publication-date {
  margin: 0;
  font-size: small;
  color: var(--lightPublicationDateColor);
}
.publication-abstract {
  margin: 0;
  font-size: medium;
  color: var(--lightPublicationTitleColor);
}
.gray-link {
  font-size: small;
  color: var(--lightGrayLinkColor);
}
.gray-link.on-card {
  color: var(--lightCardGrayLinkColor);
}
.gray-link.on-card:hover {
  color: var(--lightLinkHoverColor);
}
.hr-on-publication-card {
  margin-top: 10px;
  margin-bottom: 9px;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Donate button */
.donate-button {
  padding: 5px;
  filter: var(--lightButtonFilter);
}
.donate-button:hover {
  opacity: 0.5;
}
.donate-button-container {
  height: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.center-in-donate-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Button to launch the Python course */
.button-container {
  height: 45px;
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;
}
.center-in-button-container {
  margin: 0px;
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button {
  background-color: #7fb44a;
  border: none;
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 18px;
  filter: var(--lightButtonFilter);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #303030;
}
.button:hover {
  background-color: var(--lightSubtitleColor);
  color: white;
  text-decoration: none;
}

/* Profile card */
.profile-card-container {
  border-radius: 10px;
  width: fit-content;
}
.profile-card-container a:hover {
  text-decoration: none;
}
.linkedin-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--lightLinkedInCardColor);
  border-radius: 10px;
  width: fit-content;
  height: 70px;
}
.github-card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: var(--lightGitHubCardColor);
  border-radius: 10px;
  width: fit-content;
  height: 70px;
}
.profile-image-container {
  width: 70px;
  height: 70px;
  margin: 0px;
}
.profile-image {
  width: 70px;
  height: auto;
  padding: 10px;
}
.headshot-image {
  width: 100px;
  height: auto;
  padding: 10px;
  margin-bottom: -13px;
}
.profile-info-container {
  width: fit-content;
  margin-left: 5px;
  padding-right: 18px;
}
.profile-name {
  color: white;
  font-weight: 800;
  font-size: large;
  width: fit-content;
  margin-top: 11px;
  margin-bottom: -3px;
}
.profile-description {
  color: var(--lightSoftwarePageCardDescriptionColor);
  font-weight: 200;
  font-style: italic;
  font-size: medium;
  width: fit-content;
  margin: 0px;
}

/* Button to navigate to Software page */
.software-page-card {
  background-color: var(--lightSoftwarePageCardColor);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  padding: 15px 30px 15px 30px;
}
.software-page-button-title {
  color: white;
  font-weight: 800;
  font-size: large;
  width: fit-content;
  margin-top: 0px;
  margin-bottom: -3px;
}
.software-page-button-description {
  color: var(--lightSoftwarePageCardDescriptionColor);
  font-weight: 200;
  font-style: italic;
  font-size: medium;
  width: fit-content;
  margin: 0px;
}

/* Making the grid responsive to screen size */
@media screen and (max-width: 1120px) {
  .publication-card.short {
    height: 130px;
  }
}
@media screen and (max-width: 1050px) {
  .column {
    height: 325px;
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .column {
    height: 318px;
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .column {
    height: 310px;
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .column {
    height: 305px;
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .column {
    height: 300px;
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    height: 292px;
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .column {
    height: 288px;
    width: 50%;
  }
}
@media screen and (max-width: 720px) {
  body {
    margin-left: 0px;
    margin-right: 0px;
  }
  .column {
    width: 100%;
    height: auto;
    display: block;
  }
  .card-container {
    height: 135px;
  }
  .publication-column-left {
    float: left;
    width: 100%;
    padding-right: 0px;
  }
  .publication-column-right {
    float: left;
    width: 100%;
    padding-left: 0px;
  }
  .publication-card.short {
    height: fit-content;
  }
}
@media screen and (max-width: 530px) {
  .page-banner {
    max-width: 100%;
  }
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--darkTextColor);
    background-color: var(--darkBackgroundColor);
  }
  a {
    font-weight: 500;
    color: var(--darkLinkColor);
    text-decoration: inherit;
  }
  a:hover {
    color: var(--darkLinkHoverColor);
    text-decoration: underline;
  }
  b {
    color: var(--darkBoldColor);
  }
  code {
    background-color: var(--darkCodeBackgroundColor);
  }
  h1 {
    color: var(--darkH1Color);
  }
  h2 {
    color: var(--darkH2Color);
  }
  h3 {
    color: var(--darkH3Color);
  }
  hr {
    background-color: var(--darkHrColor);
  }
  p {
    color: var(--darkTextColor);
  }
  .black-icon {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
  }
  .button {
    filter: var(--darkButtonFilter);
  }
  .card {
    background-color: var(--darkCardBackgroundColor);
    box-shadow: var(--darkCardShadow);
  }
  .card-image {
    border-bottom: solid 0.25px var(--darkCardDividingLineColor);
  }
  .card-link {
    text-decoration: none;
    color: var(--darkTextColor);
  }
  .card-link:hover {
    text-decoration: none;
    color: var(--darkTextColor);
  }
  .card:hover {
    box-shadow: var(--darkCardHoverShadow);
  }
  .card-title {
    color: var(--darkTextColor);
  }
  .company-card {
    background-color: var(--darkCompanyCardBackgroundColor);
  }
  .company-card.project {
    background-color: var(--darkProjectCardBackgroundColor);
  }
  .company-name {
    color: var(--darkCompanyTitleColor);
  }
  .company-job-title {
    color: var(--darkCompanySubtitleColor);
  }
  .company-dates {
    color: var(--darkCompanySubtitleColor);
  }
  .company-achievements {
    color: var(--darkCompanyAchievementsColor);
  }
  .donate-button {
    filter: var(--darkButtonFilter);
  }
  .footer-link {
    color: var(--darkFooterLinkColor);
  }
  .invisible-link.skills {
    color: var(--darkTextColor);
  }
  .subtitle {
    color: var(--darkSubtitleColor);
  }
  .page-banner {
    border: var(--darkPageBannerBorder);
  }
  .publication-container a {
    color: var(--darkTextColor);
  }
  .publication-card {
    background-color: var(--darkCompanyCardBackgroundColor);
  }
  .publication-card.green {
    background-color: var(--darkPublicationColorGreen);
  }
  .publication-card.purple {
    background-color: var(--darkPublicationColorPurple);
  }
  .publication-card.red {
    background-color: var(--darkPublicationColorRed);
  }
  .publication-card.yellow {
    background-color: var(--darkPublicationColorYellow);
  }
  .publication-card.blue {
    background-color: var(--darkPublicationColorBlue);
  }
  .publication-card.primaryGray {
    background-color: var(--darkPublicationColorPrimaryGray);
  }
  .publication-card.secondaryGray {
    background-color: var(--darkPublicationColorSecondaryGray);
  }
  .publication-title {
    color: var(--darkPublicationTitleColor);
  }
  .publication-journal {
    color: var(--darkPublicationDateColor);
  }
  .publication-date {
    color: var(--darkPublicationDateColor);
  }
  .publication-abstract {
    color: var(--darkPublicationTitleColor);
  }
  .gray-link {
    color: var(--darkGrayLinkColor);
  }
  .gray-link.on-card {
    color: var(--darkCardGrayLinkColor);
  }
  .gray-link.on-card:hover {
    color: var(--darkLinkHoverColor);
  }
  .hr-on-company-card {
    background-color: var(--darkHrOnCompanyCardColor);
  }
  .green-text {
    color: var(--darkGreenTextColor);
  }
  .red-text {
    color: var(--darkRedTextColor);
  }
  .orange-text {
    color: var(--darkOrangeTextColor);
  }
  .gray-text {
    color: var(--darkGrayTextColor);
  }
  .linkedin-card {
    background-color: var(--darkLinkedInCardColor);
  }
  .github-card {
    background-color: var(--darkGitHubCardColor);
  }
  .profile-description {
    color: var(--darkSoftwarePageCardDescriptionColor);
  }
  .software-page-card {
    background-color: var(--darkSoftwarePageCardColor);
  }
  .software-page-button-description {
    color: var(--darkSoftwarePageCardDescriptionColor);
  }
}
