:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #8f07ff;
  text-decoration: inherit;
}
a:hover {
  color: #7800db;
  text-decoration: underline;
}
b {
  color: #282828;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
code {
  background-color: #5c5c5c;
  color: white;
  font-weight: 800;
  padding: 3px;
}
footer {
  font-size: 80%;
  text-align: center;
}
hr {
  margin-top: 35px;
  margin-bottom: 35px;
}
h1 {
  text-align: center;
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 10px;
  color: #1560bd;
}
h2 {
  margin-bottom: 10px;
  color: #1877F2; 
}
h3 {
  color: #787878;
}
input[type="checkbox"] {
  margin-left: 20px;
  outline: 1px solid black
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
.subtitle {
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: #808080;
  margin-top: 0px;
  margin-bottom: 20px;
}
.icon {
  max-height: 20px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -4px;
}
.icon-row {
  padding-bottom: 5px;
}
.green-text {
  color: rgb(5, 168, 21);
  font-weight: 700;
}
.blue-text {
  color: rgb(0, 123, 255);
  font-weight: 700;
}
.red-text {
  color: rgb(206, 0, 0);
  font-weight: 700;
}
.orange-text {
  color: rgb(255, 157, 0);
  font-weight: 700;
}
.gray-text {
  color: gray;
  font-weight: 700;
}
.h3-thin {
  font-weight: 300;
}

.page-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 75%;
  height: auto;
}

/* Float two columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0px -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  iframe {
    max-width: 100% !important;
    width: auto !important;
    height: auto !important;
  }
  .column {
    width: 100%;
    display: block;
  }
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover {
  text-decoration: none;
  color: black;
}

.card-title {
  padding: 0px;
}
.card-description {
  padding-top: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
  transition: 0.3s;
  max-width: 600px;
  margin: 20px;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}

.card-image {
  width: 100%;
  height: auto;
}

.card-container {
  padding: 2px 16px;
}

.subtitle {
  text-align: center;
  font-style: italic;
  color: #808080;
  margin-top: 0px;
}

.subtitle-left {
  text-align: left;
  font-style: italic;
  color: #808080;
  margin-top: 0px;
}

.bordered-image {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 5px;
  max-width: 70%;
  height: auto;
}

.icon {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 20px;
  width: auto;
}

.company-name {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 35px;
  width: auto;
}

.donate-button {
  padding: 5px;
  filter: drop-shadow(2px 2px 2px #808080);
}
.donate-button:hover {
  opacity: 0.5;
}

.donate-button-container {
  height: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.center-in-donate-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  background-color: #8cc751;
  border: none;
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 18px;
  filter: drop-shadow(2px 2px 2px #808080);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #303030;
}
.button:hover {
  background-color: #808080;
  color: white;
  text-decoration: none;
}

.button-container {
  height: 45px;
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;
}
.center-in-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}