:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #8f07ff;
  text-decoration: inherit;
}
a:hover {
  color: #7800db;
  text-decoration: underline;
}
b {
  color: #282828;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
code {
  background-color: #8b8b8b;
  color: white;
  font-weight: 800;
  padding: 3px;
}
footer {
  font-size: 80%;
  text-align: center;
}
hr {
  margin-top: 35px;
  margin-bottom: 35px;
}
h1 {
  text-align: center;
  font-size: 2.2em;
  line-height: 1.1;
  margin-bottom: 10px;
  color: #1560bd;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
  color: #1877f2;
}
h3 {
  color: #787878;
}
iframe {
  max-width: 100% !important;
  min-height: 320px !important;
}
input[type="checkbox"] {
  margin-left: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}
.subtitle {
  text-align: left;
  font-style: italic;
  font-weight: 500;
  color: #808080;
  margin-top: 0px;
  margin-bottom: 20px;
}
.footer-nav {
  text-align: center;
}
.icon {
  max-height: 20px;
  width: auto;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: -4px;
}
.icon-row {
  padding-bottom: 5px;
}
.green-text {
  color: rgb(5, 168, 21);
  font-weight: 700;
}
.blue-text {
  color: rgb(0, 123, 255);
  font-weight: 700;
}
.red-text {
  color: rgb(206, 0, 0);
  font-weight: 700;
}
.orange-text {
  color: rgb(255, 157, 0);
  font-weight: 700;
}
.gray-text {
  color: gray;
  font-weight: 700;
}
.h3-thin {
  font-weight: 300;
}

.page-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 75%;
  height: auto;
}

.bordered-image {
  border: 1px solid #808080;
  border-radius: 10px;
  margin: 5px;
  max-width: 100%;
  height: auto;
}

/* Float three columns side by side */
.column {
  float: left;
  height: 318px;
  width: 33%;
  padding: 20px;
}

/* Remove extra left and right margins due to padding */
.row {
  margin: 0px -10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover {
  text-decoration: none;
  color: black;
}

.card-icon {
  max-height: 15px;
  width: auto;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
}
.card-icon-row {
  position: absolute;
  bottom: 5px;
  right: 12px;
}
.card-title {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.card-description {
  margin-top: 0px;
  margin-bottom: 8px;
  padding-top: 0px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.card-image {
  width: 100%;
  height: 50%;
}

.card-container {
  position: relative;
  height: 150px;
  padding: 0px 16px;
}

/* Making the grid responsive to screen size */
@media screen and (max-width: 1050px) {
  .column {
    height: 325px;
    width: 50%;
  }
}
@media screen and (max-width: 1000px) {
  .column {
    height: 318px;
    width: 50%;
  }
}
@media screen and (max-width: 950px) {
  .column {
    height: 310px;
    width: 50%;
  }
}
@media screen and (max-width: 900px) {
  .column {
    height: 305px;
    width: 50%;
  }
}
@media screen and (max-width: 850px) {
  .column {
    height: 300px;
    width: 50%;
  }
}
@media screen and (max-width: 800px) {
  .column {
    height: 292px;
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .column {
    height: 288px;
    width: 50%;
  }
}
@media screen and (max-width: 700px) {
  .column {
    height: 278px;
    width: 50%;
  }
}
@media screen and (max-width: 652px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
  .column {
    width: 100%;
    height: auto;
    display: block;
  }
  .card-container {
    height: 135px;
  }
}

.subtitle {
  font-size: 1.2em;
  text-align: center;
  font-style: italic;
  color: #808080;
  margin-top: 0px;
}

.subtitle-left {
  text-align: left;
  font-style: italic;
  color: #808080;
  margin-top: 0px;
}

.icon {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 20px;
  width: auto;
}

.company-name {
  padding-left: 3px;
  padding-right: 3px;
  max-height: 35px;
  width: auto;
}

.donate-button {
  padding: 5px;
  filter: drop-shadow(2px 2px 2px #808080);
}
.donate-button:hover {
  opacity: 0.5;
}

.donate-button-container {
  height: 35px;
  margin-top: 15px;
  margin-bottom: 20px;
  position: relative;
}
.center-in-donate-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  background-color: #8cc751;
  border: none;
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 18px;
  filter: drop-shadow(2px 2px 2px #808080);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px #303030;
}
.button:hover {
  background-color: #808080;
  color: white;
  text-decoration: none;
}

.button-container {
  height: 45px;
  margin-top: 30px;
  margin-bottom: 15px;
  position: relative;
}
.center-in-button-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
